body {
  margin-top: 95px; }

.navbar {
  box-shadow: 2px 2px 5px #3293a6;
  background: #fff;
  opacity: 0.9; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

#showcase {
  position: relative;
  background: url("../img/12226.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px; }
  #showcase .primary-overlay {
    position: absolute;
    background: rgba(112, 151, 151, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #showcase .poster {
    opacity: 0.95; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }
